.interested{
    padding: 20px;
    display: flex;
    width:100%;
}
.subinterest h3{
    font-family:Helvetica ;
    color: black;
}
.subinterest p{
    font-family:Helvetica ;
    color: rgb(56, 56, 56);
}
.interestedlink 
{
    color:#17C1A3;
    font-family:Helvetica;
}
.subinterest{
    flex:1;
    margin: 10px;
}

.mainins{
    margin-top: 180px;
    font-family: 'Inter';
    background:linear-gradient(180deg,rgba(255, 255, 255, 0),rgba(255, 255, 255, 0) 35%,#EAF2FF 35%,#EAF2FF );
}

.mainins h1{
   font-size: 30px;
   text-align: center;
   position: relative;
}